/* The popup box is shown when entering a password */
#message {
  display:none;
  background-color: #EEE2DF;
  color: #000;
  position: relative;
  padding: 5px 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 25px;
  font-size: 20px;
}

.valid {
  color: green;

}

.valid:before {
  position: relative;
  left: -25px;
  content: url(check.png);
  top: 10px;
  padding: 0px 20px;

}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
  color: red;

}

.invalid:before {
  position: relative;
  left: -25px;
  top: 10px;
  content: url(cross.png);
  padding: 0px 20px;



}
