/*fonts*/

@font-face {
  font-family: Futura;
  src: url(futura.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Futura;
  src: url(futuraitalic.ttf);
  font-style: italic;
}

/*shared css across all pages*/

body {
    font-family: Futura;
    font-weight: normal;
    background-color: #EED7C5;
    font-size: 20px;

    }

h1, h2, h3, h4{
    font-family: Futura;
    font-style: italic;
    font-weight: bold;
    padding: 10px 20px;
  }


.wrapper{
    width: 100%;
    margin: auto;
    min-width: 1200px;
    } /*fixed page*/

/*header styling*/

header {
    height: 230px;
    background-color: #B36A5E; 
    }

.logo{
    padding: 0px 30px;
    width: 230px;
    height: 230px;
    } /*photo logo of home*/

 .side a {
    font-family: Futura;

     color: black;
        text-decoration: none;
        padding: 0px 10px;
        display: inline-block;
        } /*side bar links*/

.side {
        float:right;
        padding: 100px 10px 20px 10px;

     } /*side bar push to right*/

.icons {
        height: 40px;
        display: block;
        margin-left: auto;
        margin-right: auto;
            } /*side bar icons*/

.side input[type=text] {
        border: none;
        font-size: 15px;
        height: 20px;
        margin: 10px;
            } /*search bar*/

.container{
        margin:  auto; /* Center the header div horizontally */
    }

/*cart page styling*/

#carttable{
    border: 0px;
    border-collapse: collapse;
    margin: 20px;
}

#carttable th {
  padding: 15px;
    text-align: center;
    font-weight: bold;
}

#carttable th:nth-child(odd) { 
    background-color: #EED7C5;
}

#carttable th:nth-child(even){

    background-color: #F6F3E7;
}

#carttable td {
    padding: 15px;
    text-align: center;
    background-color: #EEE2DF;
    }

.placeorder {
      display:block;
          width: 200px;
          height: 50px;
          font-size: 20px;
          background-color: #EEE2DF;
          margin: 20px;
}

/*order page styling*/

#ordertable{
    border: 0px;
    border-collapse: collapse;
    margin: 20px;

}

#ordertable th {
  padding: 15px;
    text-align: center;
    font-weight: bold;
}

#ordertable th:nth-child(odd) { 
    background-color: #EED7C5;
}

#ordertable th:nth-child(even){

    background-color: #F6F3E7;
}

#ordertable td {
    padding: 15px;
    text-align: center;
    background-color: #EEE2DF;
    }


/*content index page*/

.box1 {
       background-color: #C89F9C;
    } /*first container*/

.bakeryimage {
  background-image: url('bakery.jpg');
  height: 400px;
  position: relative

}

.box1content {
        padding: 20px 40px;
    } /*intro content*/


.box1content p {
  padding: 0px 20px;
}

.imagecontent {
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
        padding: 27.5px 30px;
        text-align: center;
 /*       top: 50%;  
        transform: translate(0, -50%)*/

    } /*centered*/


#floatright { margin: 10px 30px;
             float: right;
     } /*picture in intro */

.box2 {
      background-color: #EEE2DF;

} /*second container*/

.box2content {
       padding: 10px 30px;
        } /*content in second box*/

/*contact form page*/

#contactform {
  padding: 10px 20px;
}

#contactform label {
        float: left;
        clear: left;
        display: block;
        width: 120px;
        text-align: left;
        padding-right:30px;
       } /*name, email, etc*/

#contactform input[type="text"], textarea {
        display:block;
        width: 300px;
        } /*text boxes*/

#contactform input[type="checkbox"]{
        transform: scale(1.5);
        } /*terms and conditions checkbox*/

#contactform input[type="submit"]{
         display:block;
          width: 150px;
          height: 50px;
          font-size: 20px;
          background-color: #EEE2DF;
        } /*submit form button*/

#contactform span{
          margin: 20px;
        } /*terms and conditions */

/*login page*/

#loginform {
  padding: 10px 20px;
}

#loginform label {
        float: left;
        clear: left;
        display: block;
        width: 80px;
        text-align: left;
        padding-right:30px;
       } 

#loginform input[type="text"] {
        display:block;
        width: 300px;
        } /*email box*/

#loginform input[type="password"] {
        display:block;
        width: 200;
} /*passwordbox*/


#loginform input[type="submit"]{
         display:block;
          width: 150px;
          height: 50px;
          font-size: 20px;
          background-color: #EEE2DF;
        } /*login button*/


/*login new user page*/

#newuserform {
  padding: 10px 20px;
}

#newuserform label {
        float: left;
        clear: left;
        display: block;
        width: 200px;
        text-align: left;
        padding-right:10px;
       } /*name, email, etc*/

#newuserform #Email, #Name, #Contact, input[type="password"] {
        display:block;
        width: 300px;
        } 

#newuserform input[type="submit"]{
         display:block;
          width: 150px;
          height: 50px;
          font-size: 20px;
          background-color: #EEE2DF;
        } /*login button*/

#newuserform input[type="checkbox"]{
        transform: scale(1.5);
        padding: 10px;
        } /*terms and conditions checkbox*/


/*salesreport

uses same table formatting as ordertable*/


#salesreport {
  padding: 0px 20px;
}

#salesreport p {
  padding-left: 0px;
}


#salesreport input[type="submit"]{
         display:block;
          width: 150px;
          height: 50px;
          font-size: 20px;
          background-color: #EEE2DF;
          margin: 20px 0px;
        } /*search button*/

#searchtable {
  border: 0px;
    border-collapse: collapse;

}

#searchtable th {
  padding: 15px;
    text-align: center;
    font-weight: bold;
}

#searchtable th:nth-child(odd) { 
    background-color: #EED7C5;
}

#searchtable th:nth-child(even){

    background-color: #F6F3E7;
}

#searchtable td {
    padding: 15px;
    text-align: center;
    background-color: #EEE2DF;
    }


/*footer styling*/



/*view message page*/

#messagetable {
    border: 0px;
    border-collapse: collapse;
    margin: 20px;

}

#messagetable th {
  padding: 15px;
    text-align: center;
    font-weight: bold;
}

#messagetable th:nth-child(odd) { 
    background-color: #EED7C5;
}

#messagetable th:nth-child(even){

    background-color: #F6F3E7;
}

#messagetable td {
    padding: 15px;
    text-align: center;
    background-color: #EEE2DF;
    }

#messagetable #message {
  width: 400px;
}




footer {
    
    background-color: #B36A5E;
    color: #EEE2DF;
    height: 30px;
    }

.footertext{
    text-align: center;
    padding: 5px;
    }
